# IDE
/.project
/.settings
/.idea
*.code-workspace

# npm packages
/node_modules

# build
/build
facebook-for-woocommerce.zip

# composer packages
/vendor

# Tests
codeception.yml
.env
/tests/acceptance.suite.yml
/tests/integration.suite.yml
/tests/unit.suite.yml
/tests/_data/dump.sql

.DS_Store

#webpack
/assets/build
