# IDE
/.project
/.settings
/.idea

# npm packages
/node_modules

# sake
/build

# composer packages
/vendor
/wp-content

# Tests
codeception.yml
.env
/tests/acceptance.suite.yml
/tests/integration.suite.yml
/tests/unit.suite.yml
/tests/_data/dump.sql
