<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<description>WooCommerce dev PHP_CodeSniffer ruleset.</description>

	<!-- Set the minimum WP version -->
	<config name="minimum_supported_wp_version" value="5.6"/>
	<config name="testVersion" value="7.2-" />

	<!-- Rules -->
	<rule ref="WooCommerce-Core">
		<!-- We use the PSR-4 naming convention rather than the WP one -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>

		<!--All PHP files contain a single class with a comment so a file comment is redundant -->
		<exclude name="Squiz.Commenting.FileComment.Missing"/>

		<!-- Rules related to comments. We will come back to implementing these rules-->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found"/>
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment"/>
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<exclude name="WooCommerce.Commenting.CommentHooks.MissingSinceComment"/>
		<exclude name="WooCommerce.Commenting.CommentHooks.MissingHookComment"/>
	</rule>

	<!-- Set the appropriate text domain. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="facebook-for-woocommerce"/>
		</properties>
	</rule>

	<!-- Check the main PHP file and everything in /includes -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/assets/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>
	<exclude-pattern>/bin/*</exclude-pattern>
	<exclude-pattern>/data/*</exclude-pattern>
	<exclude-pattern>/build/*</exclude-pattern>
	<exclude-pattern>/includes/Products/GoogleProductTaxonomy.php</exclude-pattern>
</ruleset>
