#fbsetup .wrapper {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
  display: block;
  width: 550px;
  background: url(../image/small-store.png) no-repeat;
  background-position-x: 95%;
  background-position-y: 100%;
}
#fbsetup .content {
  padding: 16px 10px 20px 20px;
}

#fbsetup .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#fbsetup .create_ad {
  align-content: center;
  padding: 0px 0px 120px 0px;
}

#fbsetup .btn2 a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Helvetica-Bold;
  font-size: 20px;
  font-weight: bold;
}

#fbsetup .btn2 {
  /* container: */
  background: #09AA32;
  border-radius: 5px;
  padding: 20px 20px;
  /* Get started: */
  font-family: Helvetica-Bold;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}


#fbsetup .btn {
  /* container: */
  background: #4267B2;
  border-radius: 10px;
  padding: 10px 20px;
  /* Get started: */
  font-family: Helvetica-Bold;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}

#fbsetup header {
  display: block;
  background: url(../image/facebook.png) no-repeat #4267B2;
  background-position: 20px center;
  padding: 20px;
}
#fbsetup h1 {
  /* title: */
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: #141823;
  margin: 0 0 10px;
}
#fbsetup p {
  /* copy: */
  font-family: Helvetica;
  font-size: 12px;
  color: #1D2129;
  margin: 10px 0px 14px 0px;
}
