#fbinfobanner .btn {
  /* container: */
  background-color: rgb(86,120,227);
  border: 1px solid;
  border-color: #435a8b #3c5488 #334c83;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  /* Get started: */
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 10px 1px 1px;
  width: 65px;
}

#fbinfobanner .btn.dismiss {
  margin: 5px 10px 5px 1px;
}

#fbinfobanner .btn.grey{
  background: #f6f7f8;
  border-color: #e0e1e2;
  color: #4e5665;
  width: 65px;
}

#fbinfobanner .iconDetails {
  margin: 5px 10px 5px 3px;
  float:left;
  height:50px;
  width:50px;
}

#fbinfobanner .tipTitle {
  padding: 1px 12px 1px 20px;
  font-size: 14px;
}

#fbinfobanner .tipContent {
  padding: 1px 12px 1px 20px;
  font-size: 14px;
}

#fbinfobanner .tipButton {
  margin-bottom: 0px;
}
