#wc-facebook-connection-box {
	width: 50%;
	min-width: 600px;
	color: rgb( 5, 5, 5 );
	background: white;
	padding: 10px 15px 20px;
	box-shadow: 0 0 3px rgba( 0, 0, 0, 0.2 );
	margin-bottom: 20px;
}

#wc-facebook-connection-box h1 {
	font-weight: bold;
	font-size: 1.5em;
}
#wc-facebook-connection-box h2 {
	font-size: 1.1em;
	color: rgb(162, 162, 162);
	margin: 0;
}

#wc-facebook-connection-box .benefits {
	margin-bottom: 20px;
}

#wc-facebook-connection-box .button {
	color: rgb( 5, 5, 5 );
	background-color: rgb( 228, 230, 235 );
	border: none;
	border-radius: 6px;
	padding: 4px 4em;
	margin-right: 10px;
	font-weight: bold;
}

#wc-facebook-connection-box .button.button-primary {
	color: white;
	background-color: rgb( 24, 119, 242 );
}

#wc-facebook-connection-box .uninstall {
	vertical-align: middle;
}
