.facebook-for-woocommerce-feed-status-is-generating {
	display: none;
}

.facebook-for-woocommerce-feed-status-file-info {
	display: none;
}

.facebook-woocommerce-feed-generator-progress {
	width: 50em;
}

.facebook-for-woocommerce-feed-status-is-generating .spinner {
	float: none;
}