/** FB LWI Ads widget iframe */
.fb-lwi-ads-creation.fb_iframe_widget,
.fb-lwi-ads-insights.fb_iframe_widget {
	background: #FFF;
	box-shadow: 0 0 3px rgba( 0, 0, 0, 0.2 );
	color: #050505;
	display: block;
	margin-bottom: 20px;
	width: 1000px;
}

.fb-lwi-ads-insights.fb_iframe_widget span,
.fb-lwi-ads-insights.fb_iframe_widget iframe {
	width: 1000px !important;
}

/** when the remote content of the LWI Ads widget isn't ready yet, the div doesn't have the .fb_iframe_widget class yet, so we could use this difference to improve the UX during the loading state */
.fb-lwi-ads-creation,
.fb-lwi-ads-insights {
	margin-bottom: 0;
	width: 0;
}
/** similarly, we can display some text message, which would then persist if the widget fails to load */
.fb-lwi-ads-creation::after {
	display: block;
	content: attr(data-title);
	width: 1000px;
}
.fb-lwi-ads-creation.fb_iframe_widget:after {
	content: none;
	display: none;
	width: 0;
}
